# Android / Gradle
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Android Studio
.navigation/
app/build/
android/app/build/
android/build/
android/.gradle/

# Keystore
*.jks
*.keystore

# macOS
__MACOSX/
.DS_Store
